
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/*Navbar*/
.navbar-default {
    background-color: #f2f8ff;
}

/*Site text*/
 h1 {
    color: #0072B2;
    font-size: 24px;
    line-height: 30px;
}

body {
    /*margin: 10px auto 200px;
    width: 700px; */
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background-color: #f2f8ff;
}

/*links*/
a{
    color: #0072B2;
    text-decoration: none;
}
a:hover{
    color:#000000;
    text-decoration: none;
}

/*widgets*/
.html-widget {
    margin: auto;
}


/*images*/
img {
   display: block;
   margin-left: auto; 
   margin-right: auto;
   /*width: 100%;*/
}
